@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: 300;
  font-weight: regular;
}
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-SemiBold.otf') format('opentype');
  font-weight: 500;
  font-weight: bold;
}
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Bold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-UltraLight.otf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Hairline.otf') format('opentype');
  font-weight: 100;
}

/* Background pattern from subtlepatterns.com */
header {
  width: 90%;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
  font-weight: 500;
}
h2 {
  text-transform: uppercase;
  font-weight: 500;
}
.brandhead h1 {
  margin: 0;
  text-align: center;
  font-size: 1.4em;
}
.logo img {
  width: 90px;
}
.logo {
  margin: 0 auto;
}
.mestremarisa {
  font-size: 0.8em;
}
.mestremarisa h1 {
  font-weight: 200;
}

body {
  font-family: Montserrat, Helvetica Neue, sans-serif;
  font-weight: 300;
  margin: 0;
  color: rgba(56,49,50,1); /* MAIN GREY FONT */
}

.button {
  background-color: rgba(137,133,133,1); /* MENU GREY */
  color: white;
  border: 1px solid white;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  margin: 0 auto;
  padding: 1%;
}
.button:hover {
  background-color: rgba(224,27,60,1); /* LOGO RED */
}
.button a {
  color: white;
}
.middle .button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
}

header {
  text-align: center;
}
.contents {
  font-style: italic;
  margin-bottom: 3%;
  font-size: 0.8em;
}


a {
  text-decoration: none;
  color: black;
}


/* -------- MENU LOGIC ------

SMALL SCREEN:
- no blue menu section
- appear on scroll to front image: only menu icon & backtotop arrow (or double chevron) in corner
- keep menu icon & backtotop arrow fixed on scroll
- stick bulletin bar to top on scroll

COLLAPSIBLE SECTIONS:
- swap down chevron for up chevron when clicked
- show transparent up chevron when within section only when scrolled past certain point (front img)

*/

.back-top {
  display: none;
}
nav {
  clear: both;
}
.menu-full {
  display: none;
  text-transform: uppercase;

}
.menu-bar {
  /* background-color: rgba(3,94,123,1);  OLD BLUE */
  background-color: rgba(137,133,133,1); /* MENU GREY */
  text-align: center;
  padding: 15px 0;
  width: 100%;
  overflow: auto;
  box-shadow: 1px 5px 5px rgba(1,1,1,0.7);
}
.menu-bar a {
  color: rgba(251,252,255,1);

}
.menu-icon {
  float: left;
  width: 10%;
}
.menu-bar .news-feature {
  width: 80%;
  float: left;
}
.menu-bar .news-feature a {
  border: 1px solid white;
  padding: 1%;

}
.news-feature a:hover {
  background-color: rgba(224,27,60,1); /* LOGO RED */
}
.arrow-icon {
  float: right;
  width: 10%;
}
.mobilemenu-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.dropdown {
  display: none;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
  height: 250px;
  clear: both;
  background-color: rgba(137,133,133,1); /* MENU GREY */
  z-index: 1;
}
/* so the dropdown menu sticks with the menu bar location */
.mobilemenu .dropdown {
  position: absolute;
}
.mobilemenu-fixed .dropdown {
  position: static;
}
.dropdown a {
  color: rgba(251,252,255,1);
}
.dropdown li:hover {
  /* highlight mobile menu items on hover */
  background-color: rgba(224,27,60,1); /* LOGO RED */
  width: 200px;

}
.dropdown .current-menu-item:hover {
  /* but don't change background color behind current mobile menu item */
  background-color: rgba(137,133,133,1); /* MENU GREY */
}

/* change dispaly of current mobile menu item, WP-generated class */
.current-menu-item a {
  color: rgba(56,49,50,1); /* MAIN GREY FONT */
}

.dropdown ul {
  margin: 0;
  padding-top: 30px;
}
.dropdown li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* -- FRONT PAGE IMG STYLING -- */
.frontimg {
  clear: both;
  height: 300px;
  background-image: url("../imgs/holidayroda2012.jpg");
  background-size: cover;
  background-position: 50% 47%;
  position: relative;
  z-index: -1;
}

.caption {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(1,1,1,.4);
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  /*
  width: 90%; 100% CAUSES EXTENDED WIDTH ON PAGE.  HAS TO DO WITH PADDING (BELOW)
  padding: 0 5%;
  */
  box-shadow: 1px 5px 5px rgba(96,88,86,1);
}

/* -- FRONT PAGE NEWS STYLING -- */
.items h2 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 0;
  line-height: 1;
  padding-left: 5%;
  padding-bottom: 3%;
  border-bottom: 3px double rgba(137,133,133,1);
}
.items li {
  text-align: left;
  list-style-type: circle;
}
.items a:hover {
  text-decoration: underline;
}

.smallnewstext {
  font-size: 0.5em;
}

.fvideo {
  width: 80%;
  height: 200px;
  clear: both;
  background-color: rgba(96,88,86,.3);
  margin: 5% auto 15% auto;
  font-size: 0.8em;
}

/* -- FRONT PAGE 3 FEATURES STYLING -- */
.features {
  overflow: auto;
  clear: both;
}
.features h2 {
  margin-top: 0;
  text-align: center;
}
.first {
}
.first:hover, .middle:hover, .last:hover {
  background-color: rgba(96,88,86,.2); /* MADEUP HOVER GREY*/
}
.capostar {
  display: block;
  text-align: center;
}
.capostar svg {
  width: 80px;
}

.last {
  margin-bottom: 5%;
}

.middle p {
  text-align: center;
}
.featpartners {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.partner {
  width: 25%;
  float: left;
  padding: 3%;
}
.partner img {
  width: 100%;
}

.last {
  clear: both;
}

/* -- PAGINATION STYLING -- (a dot shows up if i add a background-color)*/
.nav-previous {
  float: left;
  margin: 5% 0;
}
.nav-next {
  float: right;
  margin: 5% 0;

}
.pagination a {
  color: rgba(224,27,60,1); /* LOGO RED */
}
.news-feature-item h3 {
  margin-bottom: 0;
}
.news-feature-item p {
  margin-top: 1%;
}


/* -- FOOTER STYLING -- */
footer {
  clear: both;
  background-color: rgba(137,133,133,1); /* MENU GREY */
  color: rgba(251,252,255,1);
  text-align: center;
  font-size: 80%;
  margin-top: 5%;
  padding: 3% 3% 5% 3%;
  letter-spacing: 1px;
}

footer a {
  font-weight: 400;
  color: rgba(251,252,255,1);
}
footer a:hover {
  text-decoration: underline;
}

footer {
  padding-bottom: 2%;
}

.largerftr {
  display: none;
}

.buttonelist {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: 1px solid white;
}
.buttonelist:hover {
  background-color: rgba(224,27,60,1); /* LOGO RED */
}
.buttonelist a:hover {
  text-decoration: none;
}
.social { /* found size of div wrapping icons from web inspector and wrapped in my own to center on mobile */
  width: 225px;
  margin: 0 auto;
}
.author {
  font-size: 0.8em;
  font-weight: 200;
}
.author a {
  font-weight: 400;
}



/* -- MEDIA QUERY FOR DISPLAYING MORE CONTENT IN FOOTER ... USING CSS -- */

@media screen and (max-width: 410px) {
  .dropdown {
  }
  .dropdown li:hover {
  }
  .brandtext {
    display: none;
  }

}

@media screen and (min-width: 770px) {
  .brandtext {
    float: left;
    padding: 3% 3% 3% 50px;
    width: 500px;
  }
  .brandhead h1 {
    text-align: left;
    font-size: 2em;
  }
  .logo {
    padding: 3% 0 3% 3%;
    float: left;
    width: 100px;
  }
  .contents {
    float: left;
    text-align: left;
  }
  .dropdown {
    display: none;
    /*-- NEED TO TOGGLE MOBILE MENU AT THIS BREAKPOINT.  display:none; DOESN'T DO IT.--*/

    /*-- via Sarah Holden's tutorial, JQ adds inline styles of display:block, which will override all CSS, including overflow issues ... so this did it!--*/

    height: 0;
    overflow: hidden;
  }
  .back-top {
    display: block;
  }
  .fa-arrow-circle-up {
    font-size: 2em;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5%;
    color: rgba(1,1,1,.5);

  }
  .menu-bar {
    display: none;
  }
  .menu-full {
    display: block;
    background-color: rgba(137,133,133,1); /* MENU GREY */
    text-align: center;
    overflow: auto;
    font-family: Montserrat, Helvetica Neue, sans-serif;
    font-size: 1.1em;
    box-shadow: 1px 5px 5px rgba(1,1,1,0.7);
}
  .menu-full ul { /* GETS RID OF THE WEIRD INVISIBLE BULLET INDENT FOR LISTS*/
    margin: 0;
    padding: 1% 0;
}
  .menu-full li {
    display: inline;
    padding: 0 1%;
  }
  .menu-full a {
    color: rgba(251,252,255,1);
  }

  .menu-full li:hover {
    /* highlight menu items on hover */
    background-color: rgba(224,27,60,1); /* LOGO RED */
    padding: 1%;
  }
  .menu-full .current-menu-item:hover {
    /* but don't change background color behind current menu item */
    background-color: rgba(137,133,133,1); /* MENU GREY */
  }

  /* highlight current menu item, WP-generated class */
  .current-menu-item a {
    background-color: rgba(137,133,133,1); /* MENU GREY */
    color: rgba(56,49,50,1); /* MAIN GREY FONT */
  }
  .menu-full .news-feature a {
    border: 1px solid white;
    padding: 0.5% 1%;
  }
  .menu-full .news-feature {
    margin: 1% 0 2% 0;
  }

  .news .items {
    width: 42%;
    padding: 0 4%;
    float: left;
  }
  .news {
    overflow: auto;
  }
  .fvideo {
    margin-bottom: 8%;

  }
  .capostar {
    padding-top: 0;
  }
  .first {
    width: 23%;
    float: left;
    margin-right: 2%
  }
  .last {
    width: 23%;
    clear: none;
    float: left;
    margin-left: 2%;
}
  .middle {
    width: 50%;
    float: left;
  }

  /* -- PAGINATION -- */
  .pagination {
    width: 500px;
  }

  /* -- FOOTER -- */
  footer img {
    width: 50px;
  }
  footer {
    font-size: 1em;
    padding-bottom: 2%;
  }
  .social {
    width: 100%;
  }
  .mainftrinfo {
    width: 50%;
    float: left;
    text-align: left;
  }
  .smallerftr {
    display: none;
  }
  .largerftr {
    display: block;
    width: 40%;
    float: right;
    font-size: 1.2em;
  }
  .largerftr h4 {
    font-weight: 100;
    text-align: left;
  }
  .largerftr h4 a {
    font-weight: regular;
  }
  .buttonelist {
    width: auto;
  }
  .author {
    clear: both;
    text-align: center;
    padding-top: 5%;
    font-size: normal;
  }
}

/* FOR HUGE SCREENS! */
@media screen and (min-width: 1200px) {
  .brandtext {
    float: left;
    padding: 5% 3% 3% 50px;
    width: 700px;
    font-size: 1.6em;
}
  .brandhead h1 {
    text-align: left;
  }
  .logo {
    padding: 3% 0 3% 3%;
    float: left;
    width: 250px;
  }
  .logo img {
    width: 200px;
  }
  .logo {
    margin: 0 auto;
  }
}
