/*------- not much.  just fixed container widths on larger screens for centering ----------*/

.container h1 {
	border-bottom: 3px double rgba(137,133,133,1); /* MENU GREY */
	padding-bottom: 3%;
	padding-top: 5%;
	text-align: center;
}
.container a:hover {
	text-decoration: underline;
}
@media screen and (min-width: 770px) {
	.container {
		width: 600px;
		margin: 0 auto;
	}
}
