.music {
  width: 80%;
  margin: 0 auto;
}
.music h1, .container h1 {
  text-align: center;
}

.musicimg {
/*  --- TRYING TO ADD A COLOR TINT ON TOP OF IMAGE background-color: linear-gradient (rgba(3,94,123,.5), rgba(3,94,123,.5)); --- CSS TRICKS DIDN'T WORK */
  background-image: url("../imgs/music-pandeiro.jpg");
  background-size: cover;
  background-position: 10% 40%;
  height: 200px;
  padding: 5%;
  position: relative;
}

.music h3 {
  font-weight: 300;
}

/* --- if text is on top of image
.musicimg p {
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 1px 1px rgba(1,1,1,1);
  font-weight: 400;--- */
}


.instruments {
  clear: both;
}
.music h2 {
  clear: both;
}

.music .button {
  width: 50%;
  margin: 5% auto;
}
.songtypenav {
  margin-top: 5%;
}
.songtypenav h4 {
  text-align: center;
}
.songlist a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 770px) {
  .grid4 {
    width: 29%;
    margin-right: 4%;
    float: left;
  }

}
