.container body {

}

.container h1 {
}
.container h2 {
  font-size: 3em;
  clear: both;
}
.container h3 {
  font-family: Ostrich, Helvetica Neue, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}
.container img {
  margin: 0 auto;
  display: block;
}
.container caption {
  clear: both;
}
.mainimg {
}
.mainimg img {
  width: 100%;
}
.initial {
  font-size: 1.4em;
  overflow: auto;
  border-bottom: 3px double rgba(3,94,123,1);
	padding-bottom: 3%;
}

.eventimg img {
  width: 100%;
}

footer {
}

/* -- MEDIA QUERIES START HERE -- */
@media screen and (min-width: 770px) {
  .grid4 {
    width: 30%;
    float: left;
  }
  .description {
    width: 50%;
    float: left;
  }
  .eventimg {
    width: 40%;
    float: right;
  }

}

}
